{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card mb-3" id="project-{{ project.id }}">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <div class="project-name-block d-flex flex-row gap-4">
                <h5>{{ project.name }}</h5>
                <div id="project-update-form-container-{{ project.id }}" class="d-flex justify-content-center"></div>
            </div>
            <div class="card-header-items">
                <button hx-get="{% url 'projects-update' project.pk %}"
                        hx-target="#project-update-form-container-{{ project.id }}"
                        hx-swap="outerHTML"><img src="{% static 'images/icons/edit.svg' %}" alt="update">
                </button>
                <button
                        hx-post="{% url 'projects-delete' project.pk %}"
                        hx-target="#projects-container"
                        hx-swap="outerHTML"
                        hx-confirm="Вы уверены, что хотите удалить проект?"
                >
                    <img src="{% static 'images/icons/trash.svg' %}" alt="delete">
                </button>
            </div>
        </div>
    </div>
{% endblock content %}