{% extends 'base.html' %}
{% block content %}
    <div class="card mb-3" id="project-{{ project.id }}">
    <div class="card-header d-flex flex-row justify-content-between align-items-center">
        <h5>{{ project.name }}</h5>
        <div class="card-header-items">
            test
        </div>
    </div>
    <div class="card-body p-0">
        <ul id="tasks-{{ project.id }}" class="px-0 my-0">
            {% for task in project.tasks.all %}
                {% include 'partials/tasks/list.html' with task=task %}
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock content %}