body {
    padding: 50px 40px;
}

.custom-table td:first-child {
    border-right: 4px double #dee2e6 !important;
}

.card-header {
    background-color: #3875d7;
    color: #FAFAFA;
    padding: 10px 25px;
}

.card-header-items, .task-tools {
    display: none;
}

.card-header:hover .card-header-items {
    display: flex;
}

.task-element:hover .task-tools {
    display: flex;
}

button:not(:disabled) {
    background: none;
    border: none;
}

.input-checkbox {
    width: 1%;
}
